.lightblue {
	color: #DEEBFF;
}


.blue {
	border-color: #0065FC;
}

.grey {
	color: #D9D9D9;
}

body {
	max-width: 1400px;
	font-family: 'raleway';
	justify-content: center;
	cursor: default;
	margin:auto; 
}

#container {
	flex-wrap: wrap;
	position: relative;
}

/**************************************************************************************************************************************/
/*************************************************************header********************************************************************/
/**************************************************************************************************************************************/

header {
	padding: 4% 4% 4% 4%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	position: relative;
	width: 61.09px;
	height: 19px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
	display: flex;
}

nav li {
	list-style: none;
	padding-left: 30px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
}

nav ul li a:hover{
    font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #0065FC;
	border-top: 2px solid #0065FC;
	padding-top: 48px;
}

a {
	text-decoration:none;
	color: #000000;
	cursor: default;
}

.responsive{
	display: none;
}


/**************************************************************************************************************************************/
/*************************************************************search bar********************************************************************/
/**************************************************************************************************************************************/

main {
	position: relative;
	margin: 0% 4% 0% 4%;
}


#titles{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin-top: 0px;
}

h1{
	margin: 0px;
	font-style: normal;
	color: #000000;
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;
	height: 26px;
}

h2{
	padding-top: 9px;
	margin: 0;
	font-style: normal;
	width: 100%;
	font-weight: 400;
	font-size: 16px;
	color: #000000;
}

form{
	position: relative;
	left: 0%;
	right: 0%;
	margin-top: 20px;
	bottom: 0%;
}

#searchbar{
	display: flex;
	border-radius: 15px;
	height: 49px;
	font-size: 18px;
}

.input-icone {
	background: #F2F2F2;
	border: 1px solid #F2F2F2;
	border-radius: 15px 0px 0px 15px;
	Width:50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

input::placeholder {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 14px 16px 14px 16px;
	gap: 10px;
	height: 49px;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: black;
}

#textarea {
	display: flex;
	width: 232px; /*372 - 50 (largeur icon) - 86 (largeur button) - 4px (bordures)*/
	flex-direction: row;
	align-items: center;
	padding: 14px 16px 14px 16px;
	gap: 10px;
	height: 49px;
	background: #FFFFFF;
	border: 1px solid #F2F2F2;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
}

button{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 14px 16px 14px 16px;
	gap: 10px;
	width: 132px;
	height: 49px;
	background: #0065FC;
	border: 1px solid #0065FC;
	border-radius: 0px 15px 15px 0px;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
}

.searchLoup{
	display: none;
}

/**************************************************************************************************************************************/
/*************************************************************filters********************************************************************/
/**************************************************************************************************************************************/

h3{
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #000000;
}

h4{
	font-style: normal;
	font-weight: 700;
	font-size: 17px;
	line-height: 20px;
}

article{
    padding-right: 40px;
	height: 50px;
	display: flex;
}

.filters i{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 14px;
	padding-right: 14px;
	padding-bottom: 14px;
	font-size: 22px;
	color: #0065FC;
}

.filters {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 27.5px;
	padding-bottom: 27.5px;
    font: 1rem;
	position: relative;
	left: 7px;
	right: 0%;
	margin-top: 20px;
	bottom: 0%;
}

.filters > h1,
.filter {
	display: flex;
	justify-content: center;
	align-items: center;
    box-sizing: border-box;
	border: 2px solid #D9D9D9;
	border-radius: 25px;
	padding-top: 7.29px;
	padding-right: 20px;
	padding-bottom: 7.29px;
	padding-left: 20px;
	height: 50px;
	}

.filter {
    background:white;
}

.filter:hover {
	background: #DEEBFF;
	border: 2px solid #D9D9D9;
	border-radius: 25px;
}

#info{
	position: relative;
	display: flex;
	align-items: center;
	margin-top: 10.5px;
}

#info p{
	padding-left: 11px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
}

.info {
	border-radius:50%;
	Width:22px;
	height:22px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #D9D9D9;
}

.info i{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10px;
	color: #0065FC;
}

/**************************************************************************************************************************************/
/*************************************************************cards********************************************************************/
/**************************************************************************************************************************************/

section{
    margin: 0 20px;
}

/****cards hebergement****/

#hebergements{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 25px;
	width: 100%;
	height: 100%;
}

.hebergement{
	margin: 0px;
	padding: 40px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
    box-sizing: border-box;
	background: #F2F2F2;
	border-radius: 20px;
	Width: 65%;
}

.card-hebergement{
	height: 199px;
	background: #FFFFFF;
    border-radius: 20px;
	margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
	border: 5px solid #FFFFFF;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
  }

.card-hebergement-img{
	background-size: cover;
	object-fit: cover;
	background-repeat: no-repeat;
	border-radius: 20px 20px 0px 0px;
	width: 100%;
	Height: 119px;
  }

section.hebergement a{
	width: 33%;
}

h5{
	width: 100%;
	margin:0px;
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;
	margin-bottom: 10px;
  }

.card-text-hebergement {
	line-height: 0.5em;
	padding-top: 2%;
	padding-left: 2%;
}

.subtitle{
	margin: 0px;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 14px;
  }

.description{
	margin: 0px;
	padding: 0px;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	margin-block: 0.5em;
  }

.bluestar{
	font-size: 12px;
	color: #0065FC;
	width: 60px;
	display: flex;
}

/****cards populaire****/

.populaire{
	margin: 0px;
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
    box-sizing: border-box;
	background: #F2F2F2;
	border-radius: 20px;
	Width: 30%;
	Height: 625px;
}

.chart-line{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.chartline img{
	width: 100%;
	height: 16px;
}

.galerie{
	display: flex;
	width: 100%;
	height: 1914px;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-top: 26px;
}

.card-populaire{
	background: #FFFFFF;
	display: flex;
	align-items: flex-start;
	border-radius: 20px;
	Width: 100%;
	Height: 144px;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  	transition: 0.3s;
  }

.card-populaire-img{
	background-size: cover;
	object-fit: cover;
	background-repeat: no-repeat;
	border: 5px solid #FFFFFF;
	border-radius: 20px 0px 0px 20px;
	Width: 50%;
	Height: 134px;
  }

.card-text-populaire{
	position: relative;
    padding: 2%;
    line-height: 0.5em;
    height: auto;
	width: 50%;
}

section.populaire a{
	width: 100%;
}

.bluestar-pop{
	font-size: 12px;
	color: #0065FC;
	width: 70px;
	display: flex;
	position: absolute;
	bottom: 0;
}

.showMore{
	margin: 0%;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	display: flex;
	align-items: flex-start;
	padding-bottom: 15px;
	width: 100%;
}

/**************************************************************************************************************************************/
/*************************************************************aside********************************************************************/
/**************************************************************************************************************************************/

aside{
	position: relative;
	margin-top: 60px;
}

.contentCards{
	position: relative;
	margin-top: 20px;
	margin-bottom: 40px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	width: 100%;
	height: 494px;
}

.card-activite{
	background: #FFFFFF;
	border-radius: 20px;
	Width: 95%;
	Height: 445px;
	font-weight: 500;
	font-size: 16px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  	transition: 0.3s;
  }

.card-activite-img{
	background-size: cover;
	background-repeat: no-repeat;
	object-fit: cover;
	border-radius: 20px 20px 0px 0px;
	Width: 100%;
	Height: 389px;
  }

  .card-text-activite{
	padding-left: 16px;
	text-align:left;
	width: 90%;
	vertical-align:middle;
	line-height: 50px;
  }

aside#activites a{
	width: 25%;
}

h6{
	margin: 0px;
	text-align: left;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	flex-wrap: wrap;
	line-height: 25px;
  }

/**************************************************************************************************************************************/
/*************************************************************footer********************************************************************/
/**************************************************************************************************************************************/

footer {
	position: relative;
	background: #F2F2F2;
	Width: 100%;
	Height: 225px;
}

#footerContent {
	display: flex;
	justify-content: space-between;
	padding: 45px 325px 0px 70px;

}

.footerText{
	margin: 0%;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	display: flex;
	align-items: center;
	padding-bottom: 15px;
	width: 100%;
}

.footerColumn ul, .footerColumn li {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 38px;
	color: black;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

/**************************************************************************************************************************************/
/*************************************************************responsive********************************************************************/
/**************************************************************************************************************************************/

/*Tablettes*/
@media only screen and (max-width: 992px) and (min-width: 768px){

	.filters {
		width: 100%;
		padding: 20px 0px;
	}

	.filter {
		width: 22%;
	}

    #hebergements{
        flex-direction: column;
		height: 100%;
		width: 100%;
		justify-content: space-between;
    }

	.hebergement{
		margin-bottom: 50px;
		Width: 100%;
		Height: 80%;
	}
	
	.card-hebergement{
		Width: 100%;
		Height: 199px;
		margin: 10px auto;
	}

	section.hebergement a {
		width: 30%;
	}
	
	section.populaire{
		width: 100%;
		height: 278px;
	}

	.card-populaire{
		Width: 100%;
		Height: 144px;
		margin: 1%;
	}

	.card-text-populaire{
		width: 40%;
		height: 119px;
		padding: 12px 3px 3px 5px;
	}

	section.populaire a {
		width: 30%;
	}
	
	.subtitle{
		font-size: 14px;
		flex-wrap: wrap;
	  }

	.card-populaire-img{
		Width: 33.33%;
		Height: 134px;
	  }
	
	.description{
		margin: 0px;
		font-size: 13px;
		width: 100%;
	  }

	.galerie{
		height: 144px;
		flex-direction: row;
		padding-top: 0px;
	}

	.contentCards{
		width: 100%;
		height: 267px;
	}

	aside {
		width: 100%;
	}

	.card-activite{
		Height: 267px;
	  }
	
	.card-activite-img{
		Height: 211px;
	  }

	.card-text-activite{
		height:50px;
		line-height: 25px;
		width: 80%;
	}

	#footerContent {
		padding-right: 135px;
	
	}
}

/*Mobiles*/
@media screen and (max-width: 768px) and (min-width: 280px){

	#container {
		flex-direction: column;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
	}

	header{
		box-sizing: border-box;
		flex-direction: column;
		width: 100%;
		height: auto;
		position: relative;
		justify-content: center;
		padding: 0% 0% 5% 0%;
	}

	.logo {
		padding: 5%;
	}

	nav ul{
		display: none;
	}
	
	.responsive{
		box-sizing: content-box;
		display : flex;
		width: 100%;
		height: 60px;
		flex-direction: row;
		justify-content: space-around;
	}

	.heb, .act{
		display: flex;
		width: 50%;
		text-align: center;
		justify-content: center;
		border-bottom: 3px solid #D9D9D9;
	}

	.heb:hover, .act:hover {
		display: flex;
		border-top: none;
		width: 50%;
		border-bottom: 3px solid #0065FC;
		padding-bottom: 5%;
	}

	.heb:hover, .act:hover, a:hover{
		color: #0065FC;
	}

	#titles{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		flex-direction: row;
		justify-content: center;
	}

	h1{
		width: 100%;
		height: 100%;
		line-height: 25px;
		padding: 0 20px;
	}

	h2{
		line-height: 50px;
		height: 100%;
		padding: 0 20px;
		}
	
	main{
		flex-direction: column;
		width: 100%;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
	}

	form {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
	}

	#searchbar{
		width: 95%;
		height: auto;
		text-align: end;
		justify-content: center;
	}
	
	.input-icone {
		Width: 15%;
		height: auto;
		position: relative;
	}
	
	#textarea {
		width: 65%; 
	}
	
	button{
		width: 15%;
		height: 49px;
	}

	.searchInput{
		display: none;
	}

	.searchLoup{
		display: flex;
		justify-content: center;
	}

	h3{
		width: 100%;
		text-align: left;
		padding: 20px;
	}

	article.filters {
		left: 0px;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		Width: 100%;
		Height: 100%;
		padding: 0px;
		margin-left: auto;
		margin-right: auto;
	}

	.filter{
		width: 45%;
		justify-content: flex-start;
		margin: 1%;
		padding: 2%;
	}

	.filter:hover{
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
		border-radius: 25px;
	}

	.filters i{
		padding: 2%;
		font-size: 21px;
	}

	h4 {
		font-size: 13px;
	}
	
	#info {
		width: 95%;
		margin-top: 10.5px;
		margin-left: 15px;
		margin-right: 15px;
	}

	#info p {
		flex-wrap: wrap;
		margin-right: 15px;
	}

	.info {
		width: 11px;
		height: 11px;
		display: flex;
	}

	#hebergements{
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		margin-left: auto;
		margin-right: auto;
	}
	
	section.hebergement{
		flex-direction: column;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
		border-radius: 0%;
		background-color: #FFFFFF;
		padding: 20px;
	}
	
	.card-hebergement{
		box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
		transition: 0.3s;
		margin: 10px auto;
	  }
	
	.card-hebergement-img{
		Width: 100%;
		border: 0;
	  }

	.card-text-hebergement{
		padding-top: 2%;
		padding-left: 2%;
	}

	section.hebergement a{
		width: 100%;
	}
	
	h5{
		width:100%;
		flex-direction: row;
		padding-top: 20px;
	  }

	section.populaire{
		flex-wrap: wrap;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
		border-radius: 0%;
		padding: 20px;
	}

	section.populaire a{
		width: 100%;
	}

	.card-populaire{
		Width: 100%;
		margin: 10px auto;
	}
	
	.card-text-populaire{
		padding: 10px 0px 10px 0px;
	}

	.subtitle{
		font-size: 14px;
		flex: none;
		order: 0;
		flex-grow: 0;
	  }

	.chart-line{
		width: 100%;
	}
	
	.description{
		font-size: 13px;
	  }

	.galerie{
		height: 100%;
		padding-bottom: 5%;
		flex-direction: column;
	}

	p.showMore{
		display: none;
	}

	aside#activites{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 0%;
		background-color: #FFFFFF;
		margin-left: auto;
		margin-right: auto;
		padding: 20px;
	}

	aside#activites a{
		width: 100%;
	}

	.contentCards{
		flex-direction: column;
		height: 100%;
		justify-content: center;
		align-items: center;
		border-radius: 0%;
		background-color: #FFFFFF;
		padding: 0;
	}

	.card-activite{
		Width: 100%;
		Height: 190px;
		margin: 10px auto;
	  }
	
	.card-activite-img{
		Width: 100%;
		Height: 134px;
	  }

	.card-text-activite{
		height:50px;
		line-height: 25px;
	}

	footer{
		height:auto;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#footerContent {
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		border-radius: 0%;
		padding: 20px;
		margin-left: auto;
    	margin-right: auto;
	}

	.footerColumn ul, .footerColumn li {
		padding-bottom: 15px;
		line-height: 19px;
	}

	.footerText{
		padding : 30px 0px 30px 0px;
	}
}